{
  "cluster-0": {
    "platform": "vmware",
    "master": {
      "master-0": {
        "ip": "10.84.72.134",
      },
      "master-1": {
        "ip": "10.84.73.128",
      }
    },
    "workstation": "10.84.73.239",
    "worker": {
      "worker-0": {
        "ip": "10.84.73.157",
      }
    },
    "lb": {
      "ip": "10.84.72.44"
    }
  }
}